# Перейменуй на keystore.properties і встав свої дані після створення keystore:
#   keytool -genkey -v -keystore mystic-relics.jks -alias mysticrelics -keyalg RSA -keysize 2048 -validity 10000
storeFile=/absolute/path/to/mystic-relics.jks
storePassword=ТВІЙ_ПАРОЛЬ_СХОВИЩА
keyAlias=mysticrelics
keyPassword=ТВІЙ_ПАРОЛЬ_КЛЮЧА
